/* .............
    Smart Phone 
.............. */

@media screen and (max-width: 576px) {
  /*....................
    Header nav banner
...................... */
  .nav-wrapper {
    align-items: center;
    flex-direction: column;
  }
  .banner-img img {
    width: 80%;
  }
  /*..............
Quick features
..............*/
  .quick-features-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .quick-feature-gallery {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
  .description {
    line-height: 2.5vw;
  }
  /*.......................
Features love and enjoy
........................*/
  .love-enjoy-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .love-enjoy-content,
  .love-enjoy-image {
    width: 90%;
  }
  .love-enjoy-image img {
    width: 100%;
  }
  .love-enjoy-info-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.5vw;
  }
  .love-enjoy-title,
  .love-enjoy-description {
    text-align: center;
  }
  .love-enjoy-title {
    border: 0;
  }
}
/* .............
    Tablet
.............. */
@media screen and (min-width: 577px) and (max-width: 768px) {
  /*....................
    Header nav banner
...................... */
  .nav-wrapper {
    align-items: center;
    flex-direction: column;
  }
  /*..............
Quick features
..............*/
  .quick-features-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .quick-feature-content {
    width: 60%;
  }
  .quick-feature-gallery {
    width: 90%;
  }
  .description {
    line-height: 2vw;
  }

  /*.......................
Features love and enjoy
........................*/
  .love-enjoy-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .love-enjoy-content,
  .love-enjoy-image {
    width: 90%;
  }
  .love-enjoy-image img {
    width: 100%;
  }
  .love-enjoy-info-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.5vw;
  }
  .love-enjoy-title,
  .love-enjoy-description {
    text-align: center;
  }
  .love-enjoy-title {
    border: 0;
  }
}
