* {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}
.container {
  max-width: 90%;
  margin: auto;
}
.description {
  font-weight: 400;
  font-size: 1.1vw;
  color: #727272;
}
.btn {
  padding: 1.4vw;
  color: #fff;
  background-color: #ff900e;
  border-radius: 0.5vw;
  border: none;
  font-size: 1.4vw;
}
.section-title {
  font-size: 3.5vw;
  font-weight: 500;
}
/*....................
    Header nav banner
...................... */
#header {
  background: rgba(255, 144, 14, 0.1);
  padding-top: 1.4vw;
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
}
.nav-wrapper .logo {
  font-size: 2.5vw;
  font-weight: 700;
  color: #131313;
}
#header .menu ul {
  list-style: none;
  display: flex;
}
#header .menu li {
  padding: 1.2vw;
  font-weight: 500;
  color: #424242;
}
#header .menu li a {
  text-decoration: none;
  font-weight: 500;
  color: #424242;
  font-size: 1.2vw;
}
.banner-content {
  text-align: center;
}
.banner-title {
  padding-top: 7.2vw;
}
.banner-title h2 {
  font-size: 4.5vw;
}
.banner-description {
  padding: 2.2vw 0;
}
.banner-img {
  padding: 2.5vw 0;
}
.banner-img img {
  width: 100%;
}
/*..............
Quick features
..............*/
#quick-features {
  padding: 4vw 0;
}
.quick-features-wrapper {
  display: flex;
  gap: 2vw;
  justify-content: space-evenly;
  align-items: center;
}
.quick-feature-gallery,
.quick-feature-content {
  width: 40%;
}
.quick-feature-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1.4vw;
  grid-row-gap: 1.4vw;
}
.quick-feature-gallery img {
  width: 100%;
}
.quick-feature-title {
  font-weight: 500;
}
.quick-feature-title .gray {
  color: #727272;
}
.quick-feature-title .orange {
  color: #ff900e;
}
.quick-feature-description {
  padding: 1.2vw 0;
}
/*.......................
Features love and enjoy
........................*/
#love-enjoy {
  padding: 3vw 0 9vw 0;
}
.love-enjoy-wrapper {
  display: flex;
  justify-content: space-between;
}
.love-enjoy-content,
.love-enjoy-image {
  width: 45%;
}
.love-enjoy-image img {
  width: 100%;
}
.love-enjoy-title {
  border-left: 0.3vw solid #ff900e;
  padding-left: 1vw;
}

.love-enjoy-description {
  padding: 2vw 0;
}
.love-enjoy-info {
  margin-bottom: 1.4vw;
  padding: 1.4vw;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}
.love-enjoy-info h3 {
  font-weight: 600;
  font-size: 1.4vw;
}
.love-enjoy-info p {
  font-weight: 400;
  font-size: 1.1vw;
}
.love-enjoy-experience {
  position: relative;
  background: #ff900e;
  color: #fff;
  width: 50%;
  text-align: center;
  padding: 2vw;
  top: -9vw;
  left: -3vw;
  border-radius: 0.5vw;
}
.love-enjoy-experience h4 {
  font-size: 4.6vw;
  font-weight: 700;
}
.love-enjoy-experience p {
  font-size: 1.7vw;
}
/*...............
Some Facts
................*/

.some-facts-info-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  grid-column-gap: 8.9vw;
  padding: 7vw 0;
  justify-content: space-around;
}
.some-facts-info {
  padding: 2.5vw;
  border-radius: 5%;
  border: 1px solid #ff900e;
  transition: 0.5s ease;
}
.some-facts-info:hover {
  transform: scale(1.2);
}
.some-facts-info img {
  width: 50%;
}
.some-facts-info h4 {
  font-size: 3.2vw;
  font-weight: 600;
  color: #424242;
}
.some-facts-info p {
  font-size: 1.4vw;
}
/*.............
    Footer
..............*/

.footer-head-info {
  text-align: center;
}
.footer-head-info h2 {
  padding-bottom: 1.7vw;
}
.footer-brands {
  display: flex;
  justify-content: space-between;
  padding-top: 1.7vw;
}
.footer-logo img {
  width: 100%;
}
.copy-write {
  margin: 9vw 0;
  padding: 2vw 0;
  background: #fff4e7;
  border-radius: 5%;
  text-align: center;
}
